
rkan_config.ini

*.pyc

.idea/.name

.idea/misc.xml

.idea/modules.xml

.idea/reminder.iml

.idea/vcs.xml

.idea/workspace.xml

resource/image/movie.json

resource/image/memory.json

resource/image/phrase.json

resource/image/kpop.json

resource/image/idol.json

resource/image/char.json

resource/image/sense.json

resource/image/animation.json

resource/image/world.json

resource/phrase/firmware.json

resource/phrase/example.json

resource/phrase/hardware.json

resource/phrase/drama.json

resource/phrase/software.json

resource/image/sports.json
